@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

:root {
    --background-dark: #1e1e1e;
    --background-mid: #252526;
    --background-light: #2e2e2e;
    --text: #fff;
    --dark-text: #000;
    --mid-text: rgb(145, 145, 145);
    --gray-highlight: #707070;
    --highlight: #f78e30;
    --orange-transparent: rgba(247, 142, 48, 0.4);
}

html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-size: 1.1rem;
    font-family: 'IBM Plex Sans', sans-serif;
}

p {
    margin: 0;
}

ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
    font-size: 1rem;
}

li {
    width: 100%;
    text-align: center;
    color: var(--text);
}

.containerAll {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sideBar {
    width: 20%;
    height: 100%;
    background-color: var(--background-mid);
}

.mainContent {
    width: 80%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
}

.sender {
    text-align: end;
    background-color: var(--background-light);
}

.message {
    margin: 0;
    padding: 0 5px;
    padding-bottom: 2px;
    color: var(--text);
}

.messageInfo {
    padding: 0 5px;
    color: var(--mid-text);
    font-size: .8rem;
}

#messageContainer {
    bottom: 0;
    width: 80%;
    height: 250px;
    min-height: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    background-color: var(--background-dark);
    z-index: 1;
}

#resizer {
    width: 100%;
    min-height: 3px;
    background-color: var(--gray-highlight);
    cursor: ns-resize;
}

#messages {
    height: 85%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.controls {
    padding: 1% 0;
    width: 100%;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: flex-start;
    color: var(--text);
    border-top: 1px solid var(--gray-highlight);
}

#message {
    width: 60%;
    padding: 5px;
    margin-left: 1%;
    border: none;
    border-bottom: 1px solid var(--gray-highlight);
    border-radius: 0;
    color: var(--text);
    background-color: var(--background-dark);
}

#message:focus {
    outline: none;
    border-bottom: 1px solid var(--highlight);
}

.icon {
    padding: 5px;
    padding-bottom: 0;
    margin-right: 30px;
    cursor: pointer;
    color: var(--text);
    font-size: 1.1rem;
}

.icon:hover {
    color: var(--highlight);
}

#offer {
    margin-left: auto;
    margin-right: 1%;
    cursor: pointer;
}

.highlight {
    background: var(--orange-transparent);
    pointer-events: none;
}

.peerCursor {
    background: var(--orange-transparent);
    pointer-events: none;
}

.peerCursor:before {
    content: '';
    width: 2px !important;
    height: 24px;
    position: absolute;
    background-color: var(--highlight);
}

.peerCursor:after {
    content: attr(data-content);
    top: -19px;
    width: 100px;
    height: 20px;
    position: absolute;
    color: var(--dark-text);
    background-color: var(--highlight);
    font-size: .7rem;
    z-index: 2;
}

.peerCursorRight:before {
    right: 0;
}

.peerCursorRight:after {
    right: -13ch;
    width: 100px;
    height: 20px;
}